
@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }
  
  body {
      margin: 0;
      padding: 0;
      font-family: 'Arial', sans-serif;
      background-color: #3b4b5a;
      color: white;
  }
  
  .nav-container {
      background-color: #444;
      width: 200px;
      height: 100vh;
      position: fixed;
  }
  
  .nav-menu {
      list-style: none;
      padding: 0;
      margin: 0;
  }
  
  .nav-menu li {
      border-bottom: 1px solid #111;
  }
  
  .nav-menu a {
      display: block;
      padding: 15px;
      text-decoration: none;
      color: #fff;
      background-color: #333;
  }
  
  .nav-menu a:hover {
      background-color: #8bc34a;
  }
  
  .main-section {
      padding: 20px;
      margin-left: 220px; /* Adjusted for the width of the navigation menu */
  }
  
  h2, p {
      margin-bottom: 10px;
  }
  
  h2 {
      color: #8bc34a;
      
  }
  
  
  .titel {
      font-family: 'Electrolize', sans-serif;
      font-size: 40px;
      text-align: center;
      padding: 5px;
      width: 100%;
  }
  
  p, li {
      line-height: 1.8em;
  }
  
  
  .container {
  background-color: grey;
  padding: 20px;
    -webkit-box-shadow: 8px 5px 15px 5px #000000; 
  box-shadow: 8px 5px 15px 5px #000000;
  }
  
  
  #working_with_the_command_line li {
     list-style-type: none;
  }
  
  